.orderpage-container {
    min-height: 585px;
    padding: 80px 0px 10px 0px;


}

.cartitm-bdrord-ims {
    width: 335px;
    height: 370px;
    border-right: 1px solid gray;
}

.cartitm-bdrord-ims img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cartitm-bdordr {
    width: 335px;
    position: relative;
    height: auto
}

.cartitm-bdrord {
    width: 335px;
    padding-left: 10px;
    height: auto;
}

.rmv-btn {
    padding: 8px;
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-size: 16px;
    color: #fff;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    cursor: pointer;
}

.rmv-btn:hover {
    color: #000000;
    background-color: #fff;
}

.order-scroll {
    padding-right: 5px;
    max-height: 650px;
    overflow-y: scroll;
    max-width: 700px;
    margin: auto;
}

.orders-degn-flx {
    margin-bottom: 10px;
    padding: 15px 5px 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    background: #fff;

}

.cart-add-price-order {
    text-align: left;
    padding-left: 30px;
    font-weight: 700;
}

.orderpage-wrapper>h2 {
    font-size: 26px;
    font-weight: 550px;
    text-align: center;
    padding-top: 50px;
}

.style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f5f4f8;
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar {
    width: 4px;
    background-color: red;
}

.style-4::-webkit-scrollbar-thumb {
    background-color: red;
    border: 2px solid #d5d2dc;
}

.order-description {
    text-align: center;
}

.products-loader-order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:697px) {
    .cartitm-bdrord {
        width: -webkit-fill-available
    }
}

@media screen and (max-width:550px) {
    .orderpage-wrapper>h2 {
        padding-top: 10px;
    }
}