a{
    text-decoration: none !important;
}

.navbar-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 25px 60px 25px 95px;
    background-color: #fff;
    box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f;
}
.navbar-cart{
    display: flex;
    column-gap: 35px;
    align-items: center;
}
.navbar-cart-parent{
    display: flex;
    column-gap: 50px;
    align-items: center;
    width: 59%;
    justify-content: end;
}
.cart-counter{
    position: relative;
    padding: 0 0.5rem 0 0;
}
.header-login-register{
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #3b3b3b;
    padding: 7px 24px;
    border: 0;
    border-radius: 20px;
    min-width: 136px;
}
.header-registr{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.header-registr-yr{
    color: #1f1b2d;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.header-cart-img{
    font-size: 18px;
    color: black;
}
.header-exclusive>p{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;

}

.navbar-head-homcnt{
    /* text-decoration: none !important; */
    color: #1f1b2d;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}
.header-dsp-hme{
    display: flex;
    align-items: center;
    column-gap: 38px;
    font-weight: 640;
}
/* .navbar-head-homcnt:hover {
    text-decoration: underline;
    color: #ff5757; 
  } */
  .navbar-head-homcnt::after {
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: -8px; 
    width: 100%; 
    height: 2px; 
    background: #ff5757; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
  }
  
  .navbar-head-homcnt:hover::after {
    transform: scaleX(1); 
  }
  
  .navbar-head-homcnt:hover {
    color: #ff5757; 
    text-decoration: none; 
  }



  .navbar-hamburger-container{
    display: none;
  }
.navbar-hamburger-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px 15px 80px;
    background-color: #fff;
    box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f;
}
.navbar-hamb-offcanvas{
    font-size: 42px;
    cursor: pointer;
  }
  .navbar-hamburger-topshop>span{
    font-size: 26px;
    font-weight: 700;
  }

#offcanvas-header-hambopen{
    border: 1px solid #f0f0f0 ;
    background-color: #fff;
    /* box-shadow: 0px 4.934579372406006px 19.738317489624023px 0px #1f1b2d1f; */
}
.offcanvas-title{
    font-weight: 650;
}
.offcanvas-body-homecnt{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}
.navbar-head-homcnt-hamb{
    display: inline-block;
    /* text-decoration: none !important; */
    color: black;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer !important;
    transition: transform 0.3s ease, font-size 0.3s ease;
}
.navbar-head-homcnt-hamb>span{
    font-size: 28px;
}
.offcanvas-body-wrapper{
    padding: 5px 0px;
}
.navbar-head-homcnt-hamb:hover {
    transform: scale(0.9) !important;
    color: #db4444;
   

}
.navbar-1stprdcetc{
    display: flex;
    align-items: center;
    column-gap: 22%;
    width: 40%;
}
  /* MEDIA QUERY */

  @media screen and (max-width:1422px){
    .navbar-wrapper {
        padding: 25px 25px 25px 25px;
  }
  .header-dsp-hme {
   column-gap: 15px;   
}
.navbar-cart {
    column-gap: 20px;
}
.your-events-searchstyle {
    width: 245px;
}
.navbar-cart-parent {
    column-gap: 16px;
   
}
.navbar-1stprdcetc{
    column-gap: 12%;
  }
}

@media screen and (max-width:1023px){
.navbar-screen{
    display: none;
}
.navbar-hamburger-container{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
 


}

@media screen and (max-width:550px){
    .navbar-hamburger-wrapper{
        padding: 15px 30px 15px 30px;
}
.navbar-hamb-offcanvas {
    font-size: 32px;
}
.navbar-hamburger-topshop>span {
    font-size: 23px;
}
.hamburger-offcanvas-wid{
    width: 70% !important;
}
}
